
[*]

# ReSharper properties
resharper_wrap_tags_and_pi = false
resharper_xml_max_line_length = 150
resharper_xml_pi_attribute_style = first_attribute_on_single_line
resharper_xml_wrap_lines = false
resharper_xml_wrap_tags_and_pi = true

# Standard properties
max_line_length = 0
